*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
background-image: url(https://i.imgur.com/C1PKq7m.jpg);
height: 100vh;
width: 100%;
background-size: cover;
overflow:-moz-hidden-unscrollable;

}

button{
  padding: 10px;
  border-radius: 10px;
  background-color: #C3244C;
  color: white;
  border: none;
}


input[type=text], input[type=password]{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: inherit;
  background-color: rgba(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
}


select{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: inherit;
  background-color: #C3244C;
  color: white;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin-bottom: 5px;
}

textarea{
  width: 100%;
}

ul{
  list-style-type: none;
}

li{
  padding: 10px;
  margin-bottom: 5px;
}


section {
  margin: 20px auto;
  max-width: 1140px;
  width: 90%;
}


hr{
  color: inherit;
  border-color: inherit;
}


 /* Classes */
.right{
  text-align: right;
}

.right > button{
  display: inline-block;
}


.backdrop{
  backdrop-filter: blur(3px);
}

option{
  background-color: white;
  color: #000;
}

