.card {
     width: 100%;
     border-radius: 10px;
}
canvas {
     display: inline-block;
     background-color: #fff;
}
.Eform {
     background-color: rgb(241, 241, 241);
     margin-left: 22%;
     margin-right: 22%;
     padding: 20px;
     border-radius: 15px;
     margin-top: 20px;
}

.unselected {
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}

body {
     background-color: rgb(205, 206, 218);
     font-family: Arial, Helvetica, sans-serif;
}

.Term {
     background-color: rgb(255, 255, 255);
     padding-bottom: 20px;
     border-radius: 15px;
     margin-top: 10px;
     overflow: hidden;
}

.MCQ {
     background-color: rgb(255, 255, 255);
     padding-bottom: 20px;
     border-radius: 7px;
     margin-top: 10px;
     overflow: hidden;
     padding: 15px;
}

.Essay {
     background-color: rgb(255, 255, 255);
     padding-bottom: 20px;
     border-radius: 7px;
     margin-top: 10px;
     overflow: hidden;
     padding: 15px;
}

.Identification {
     background-color: rgb(255, 255, 255);
     padding-bottom: 20px;
     border-radius: 7px;
     margin-top: 10px;
     padding: 15px;

     display: inline-block;
     overflow: scroll;
}

.clr {
     background-color: #17a2b8;
     height: 20px;
     width: 100%;
}

h1 {
     padding-left: 15px;
     padding-top: 35px;
     font-weight: lighter;
}

h5 {
     padding-left: 15px;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: lighter;
}

textarea {
     border: none;
     border-bottom: 1px black solid;
     width: 100%;
}

input {
     margin-right: 5px;
}

.idn {
     border-color: transparent;
     border: none;
     border-bottom: 1px black solid;
     width: 100%;
}

.Info {
     background-color: rgb(255, 255, 255);
     padding-bottom: 20px;
     border-radius: 7px;
     overflow: hidden;
     padding: 15px;
}

label {
     margin-left: 10px;
}

input {
     border: transparent;
     border-color: none;
     border-bottom: 1px solid black;
}

.submit {
     margin-top: 20px;
     background-color: #17a2b8;
     position: right;
}

.btnx {
     text-align: right;
}
