*{
    padding: 0%;
    margin: 0%;
}

body{
  background-image: url(https://i.imgur.com/pS9sP47.jpg);
  background-size: cover !important;
  /* background-position: center center; */
  font-family: sans-serif;
  margin: 0%;
  padding: 0%;
  color: white;
}

.subjectbox{
    background-color: #D4BBA5;
    border-radius: 10px;
    padding: 5px;
    color: #503918;
}

.container{
    color: white;

}

.addsubj{
    margin-top: 10px;
}

.addbtn{
    margin: 10px;
    width: 60px;
    background-color:  #6c757d;
    border-radius: 3px;
    border: none;
    color: white
}


.card {
    
    background-color:transparent  ;
}

.margin{
    margin-top: 45px;
    margin-left: 45px;
}

input{
border-radius: 2px;
border: none;
}

.width{
    width: 100px ;
}

.width1{
    width: 113px ;
}

.width2{
    width: 95px ;
}