

header {
  background-color: maroon;
  padding-bottom: 50px;
  color: white;
  height: 92px ;
  display: flex;
  justify-content: left;
  overflow: hidden;
}

header h4 {
  margin-left: 60px;
}
header h1 {
  padding-top: 0px;
}

.float{
  float: left;
}

li {
  list-style-type: none;
}

img {
  margin-left: -15%;
}

#sidePanel {
  padding: 10px;
  width: 95%;
  border: 1px black solid;
  margin-top: 10px;
  margin-left: 15px;
  background-color: #ffffff;
  justify-content: left;
  display: flex; 
  border-radius: 15px;
}
#sidePanel h2{
  color: maroon;
  margin-right: 15px;
  padding-right: 90px;
  padding-left: 3px;
  position: initial;
}

body {
  background-image: linear-gradient(to top, darkgrey,white) !important;
}

/*subjects*/
#box {
  padding: 10px;
  width: 100%;
  height: 13%;
  margin: 10px;
  background-color: #ffffff !important;
}

.container {

  padding: 10px;
  border-bottom: 1px black solid;
}

#sContainer {
  text-align: right;
  padding: 10px;
}

.btn {
  text-align: center;
  border-radius: 3px;
}

.btn :last-child {
  margin-left: 10px;
}

button {
  width: 150px;
  font-size: 15px;
  padding: 5px;
}

#termcontainer {
  float: top;
  padding: 10px;
}

button :hover{
  color: #000;
}

p {
  padding: 10px;
}
#Ssubjects {
  background-color: #ffffff;
  border-radius: 15px;
  border: solid black 1px;
  margin-top: 10px;
}

.row {
  width: 100%;
}

.dabid {
  margin-left: -325%;
}
