body{
    background-image: url(https://i.imgur.com/pS9sP47.jpg);
    background-size: cover !important;
    /* background-position: center center; */
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
 
  }

  .card{
    background-color: rgb(0, 0, 0,0.3);
  }

  .btn-info{
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }

  .card-text{
    color: white;
  }

